h1, .h1 { @media print { font-size: ceil(($font-size-h1 * 0.7)); } }
h2, .h2 { @media print { font-size: ceil(($font-size-h2 * 0.7)); } }
h3, .h3 { @media print { font-size: ceil(($font-size-h3 * 0.7)); } }
h4, .h4 { @media print { font-size: ceil(($font-size-h4 * 0.7)); } }
h5, .h5 { @media print { font-size: ceil(($font-size-h5 * 0.7)); } }
h6, .h6 { @media print { font-size: ceil(($font-size-h6 * 0.7)); } }