@import "variables";
@import "vendors";

body {
  padding: $grid-gutter-width / 2;
}

.sidebar {
  border-right: 1px solid $gray-lighter;
}

.header {
  text-align: center;
  margin-bottom: $grid-gutter-width;

  img {
    max-width: 150px;
    border-radius: 50%;
  }
}

section {
  margin-bottom: $grid-gutter-width;

  h2 {
    margin-top: 0;
  }

  .section-header {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $grid-gutter-width / 2;
  }

  .fromTo {
    color: $gray-light;
  }

  .social-link {
    display: block;
    padding: $padding-base-vertical $padding-base-horizontal;

    ul {
      margin-bottom: 5px;
    }
  }
}