@import "bootstrap/variables";

$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../node_modules/font-awesome/fonts";

$white:               #ffffff;
$print-border-color:  $gray-light;
$print-font-size-factor:  0.9;