.profile {
  text-align: center;
  margin-bottom: $grid-gutter-width;

  img {
    max-width: 150px;
    border-radius: 50%;
  }

  h2 {
    @media screen {
      @include create-dotted-header;
    }
  }

  .description {
    @media print {
      font-size: $font-size-base;
      font-weight: 400;
    }
  }
}