@import "job";

.work {
  @media screen {
    @include create-full-page;

    h2 {
      @include create-dotted-header;
      text-align: center;
    }

    .jobs-container {
      @include make-row;
    }
  }

  @media print {
    h2 {
      border-bottom: 1px solid $print-border-color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
}